<div class="container-fluid">
  <div class="starter-template">
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledBy="home-tab">
          <include file="content_home" />
      </div>
      <div role="tabpanel" class="tab-pane fade" id="overview" aria-labelledBy="overview-tab">
          <include file="content_overview" />
      </div>
      <div role="tabpanel" class="tab-pane fade" id="help" aria-labelledBy="help-tab">
          <include file="content_help" />
      </div>
      <div role="tabpanel" class="tab-pane fade" id="process" aria-labelledBy="process-tab">
          <include file="content_process" />
      </div>
    </div>
  </div>
</div><!-- /.container -->
