<div class="row">

    <foreach name="unfinished_task" key="k" item="task">
        <div class="col-md-4">
            <div class="panel panel-default" style="height: {:TASK_BLOCK_HEIGHT}px;overflow: hidden;">
                <div class="panel-heading">
                    {$task.t_level|show_level_tag}<BR>
                    {$task.t_title|mb_substr=0,TASK_TITLE_LEN,'utf-8'}
                </div>
              <!--<div class="panel-body">{$task.t_content|strip_tags=###,'<br>'|mb_substr=0,TASK_CONTENT_LEN,'utf-8'}</div>-->
            </div>
        </div>
    </foreach>
</div>
