<h1>帮助信息。</h1>
1. 创建一张 任务处理 过程备注表，比如暂停时，可以备注一下。
    task_process: P_id,T_id, T_status,P_note,P_create_date

<BR>
2. 创建一张 账号表， 以用户名+唯一ID 来识别
user: U_id, U_name,U_alias, U_uuid,U_pass, U_create_date

<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<!-- Small modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
