<div class="container-fluid">
  <div class="starter-template">
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade" id="home" aria-labelledBy="home-tab">
          <include file="content_home" />
      </div>
      <div role="tabpanel" class="tab-pane fade" id="list" aria-labelledBy="list-tab">
          <include file="content_list" />
      </div>
      <div role="tabpanel" class="tab-pane fade" id="help" aria-labelledBy="help-tab">
          <include file="content_help" />
      </div>
      <div role="tabpanel" class="tab-pane fade in active" id="process" aria-labelledBy="process-tab">
          <include file="content_process" />
      </div>
    </div>
  </div>

    <div class="modal fade bs-example-modal-lg task_add_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content task_add_modal_content">
          ...
        </div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-lg task_runing_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content task_runing_modal_content">
          ...
        </div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-lg status_list_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content status_list_modal_content">
          ...
        </div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-lg level_list_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content level_list_modal_content">
          ...
        </div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-lg search_list_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content search_list_modal_content">
          ...
        </div>
      </div>
    </div>
</div><!-- /.container -->
