<div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div role="presentation" class="dropdown" style="display: inline;">
          <button id="btn_add_task" type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">添加任务&nbsp;<span class="caret"></span></button>
        <ul id="templet_menu" class="dropdown-menu" aria-labelledby="btn_add_task">
        </ul>
      </div>
        <span class="label label-default" style="font-size: 16px;">状态分组:</span>
        <foreach name="unfinished_task_status_group" item="status">
            <button type="button" class="btn btn-{$status.t_status|show_status_color} get_status_list" status="{$status.t_status}">
                {$status.t_status|show_status_text}&nbsp;<span class="badge">{$status.total}</span>
            </button>
        </foreach>
        <span class="label label-default" style="font-size: 16px;">级别分组:</span>
        <foreach name="unfinished_task_level_group" item="level">
            <button type="button" class="btn btn-{$level.t_level|show_level_color} get_level_list" level="{$level.t_level}">
                {$level.t_level|show_level_tag}&nbsp;<span class="badge">{$level.total}</span>
            </button>
        </foreach>
      </div>
</div>

<div class="row">
    <div id="slide_runing_pause" class="carousel slide" data-interval="false">
       <!-- 轮播（Carousel）指标 -->
       <!--<ol class="carousel-indicators">-->
          <!--<li data-target="#slide_runing_pause" data-slide-to="0" class="active"></li>-->
          <!--<li data-target="#slide_runing_pause" data-slide-to="1"></li>-->
          <!--<li data-target="#slide_runing_pause" data-slide-to="2"></li>-->
       <!--</ol>-->
       <!-- 轮播（Carousel）项目 -->
       <div class="carousel-inner">
            <?PHP $bool=false; $i=1;?>
            <foreach name="unfinished_task" key="k" item="task">
                <if condition="( $task['t_status'] eq STATUS_PAUSE )">
                <if condition="$bool eq false">
                  <if condition="$i eq 1">
                      <div class="item active">
                  <else />
                      <div class="item">
                  </if>
                </if>
                    <?PHP $bool=true;?>
                    <div class="col-md-4 task_pause_panel" tid="{$task.t_id}">
                        <div class="panel panel-{$task.t_level|show_level_color}" style="height: {:TASK_BLOCK_HEIGHT}px;overflow: hidden;">
                            <div class="panel-heading">
                                <h4>{$task.t_title|mb_substr=0,TASK_TITLE_LEN,'utf-8'}</h4>
                                <h5 style="display: inline;">{$task.t_level|show_level_tag}
                                <span class="label label-{$task.t_status|show_status_color}" type="button">{$task.t_status|show_status_text}</span>
                                <small>创建时间: {$task.t_date|date="Y年m月d日 h:i:s",###}</small>
                                </h5>
                                {$task.t_process|show_progress}
                            </div>
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                <if condition="($i % TASK_PAUSE_SLIDE_NUMBER ) eq 0">
                  <?PHP $bool=false; ?>
                  </div>
                </if>
                <?PHP $i++; ?>
                </if>
            </foreach>
           </div>
           <!-- 轮播（Carousel）导航 -->
           <a class="carousel-control left" href="#slide_runing_pause"
              data-slide="prev">&lsaquo;</a>
           <a class="carousel-control right" href="#slide_runing_pause"
              data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>

<div class="row">
    <div id="slide_waiting" class="carousel slide" data-interval="false">
       <!-- 轮播（Carousel）指标 -->
       <!--<ol class="carousel-indicators">-->
          <!--<li data-target="#slide_waiting" data-slide-to="0" class="active"></li>-->
          <!--<li data-target="#slide_waiting" data-slide-to="1"></li>-->
          <!--<li data-target="#slide_waiting" data-slide-to="2"></li>-->
       <!--</ol>-->
       <!-- 轮播（Carousel）项目 -->
       <div class="carousel-inner">
            <?PHP $bool=false; $i=1;?>
            <foreach name="unfinished_task" key="k" item="task">
                <if condition="$task['t_status'] eq STATUS_WAITING">
                <if condition="$bool eq false">
                  <if condition="$i eq 1">
                      <div class="item active">
                  <else />
                      <div class="item">
                  </if>
                </if>
                    <?PHP $bool=true;?>
                    <div class="col-md-4 task_waiting_panel" tid="{$task.t_id}">
                        <div class="panel panel-{$task.t_level|show_level_color}" style="height: {:TASK_BLOCK_HEIGHT}px;overflow: hidden;">
                            <div class="panel-heading">
                                <h4>{$task.t_title|mb_substr=0,TASK_TITLE_LEN,'utf-8'}</h4>
                                <h5 style="display: inline;">{$task.t_level|show_level_tag}
                                <span class="label label-{$task.t_status|show_status_color}" type="button">{$task.t_status|show_status_text}</span>
                                <small>创建时间: {$task.t_date|date="Y年m月d日 h:i:s",###}</small></h5>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {$precent_arr[$task['t_id']]}%">
                                    {$precent_arr[$task['t_id']]}%
                                </div>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                <if condition="($i % TASK_WAITING_SLIDE_NUMBER) eq 0">
                  <?PHP $bool=false; ?>
                  </div>
                </if>
                <?PHP $i++; ?>
                </if>
            </foreach>
       </div>
       <!-- 轮播（Carousel）导航 -->
       <a class="carousel-control left" href="#slide_waiting"
          data-slide="prev">&lsaquo;</a>
       <a class="carousel-control right" href="#slide_waiting"
          data-slide="next">&rsaquo;</a>
       </div>
  </div>
</div>

<hr style="height:5px;border:none;border-top:5px ridge green;" />

<div class="row">
    <div id="slide_notstart_stop" class="carousel slide" data-interval="false">
       <!-- 轮播（Carousel）指标 -->
       <!--<ol class="carousel-indicators">-->
          <!--<li data-target="#slide_notstart_stop" data-slide-to="0" class="active"></li>-->
          <!--<li data-target="#slide_notstart_stop" data-slide-to="1"></li>-->
          <!--<li data-target="#slide_notstart_stop" data-slide-to="2"></li>-->
       <!--</ol>-->
       <!-- 轮播（Carousel）项目 -->
       <div class="carousel-inner">
            <?PHP $bool=false; $i=1;?>
            <foreach name="unfinished_task" key="k" item="task">
                <if condition="( $task['t_status'] neq STATUS_PAUSE ) and ( $task['t_status'] neq STATUS_RUNING ) and ( $task['t_status'] neq STATUS_WAITING )">
                <if condition="$bool eq false">
                  <if condition="$i eq 1">
                      <div class="item active">
                  <else />
                      <div class="item">
                  </if>
                </if>
                    <?PHP $bool=true;?>
                    <div class="col-md-4 task_notstart_panel" tid="{$task.t_id}">
                        <div class="panel panel-{$task.t_level|show_level_color}" style="height: {:TASK_BLOCK_HEIGHT}px;overflow: hidden;">
                            <div class="panel-heading">
                                <h4>{$task.t_title|mb_substr=0,TASK_TITLE_LEN,'utf-8'}</h4>
                                <h5 style="display: inline;">{$task.t_level|show_level_tag}
                                <span class="label label-{$task.t_status|show_status_color}" type="button">{$task.t_status|show_status_text}</span>
                                <small>创建时间: {$task.t_date|date="Y年m月d日 h:i:s",###}</small></h5>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {$precent_arr[$task['t_id']]}%">
                                    {$precent_arr[$task['t_id']]}%
                                </div>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                <if condition="($i % TASK_NOTSTART_SLIDE_NUMBER) eq 0">
                  <?PHP $bool=false; ?>
                  </div>
                </if>
                <?PHP $i++; ?>
                </if>
            </foreach>
       </div>
       <!-- 轮播（Carousel）导航 -->
       <a class="carousel-control left" href="#slide_notstart_stop"
          data-slide="prev">&lsaquo;</a>
       <a class="carousel-control right" href="#slide_notstart_stop"
          data-slide="next">&rsaquo;</a>
       </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg task_add_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content task_add_modal_content">
      ...
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg task_runing_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content task_runing_modal_content">
      ...
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg status_list_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content status_list_modal_content">
      ...
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg level_list_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content level_list_modal_content">
      ...
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg search_list_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content search_list_modal_content">
      ...
    </div>
  </div>
</div>
