<div class="row">
    <div class="col-md-6">
        <div id="month_level_chart"></div>
    </div>
    <div class="col-md-6">
        <div id="container"></div>
    </div>

    <div class="col-md-6">
        <div id="container2"></div>
    </div>
</div>

<script>
$(function(){
    $('#month_level_chart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Browser market shares at a specific website, 2014'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            {$month_level_data}
        }]
    });
});
</script>
