<div class="row">
    <div id="slide_runing_pause" class="carousel slide" data-interval="false">
       <!-- 轮播（Carousel）指标 -->
       <!--<ol class="carousel-indicators">-->
          <!--<li data-target="#slide_runing_pause" data-slide-to="0" class="active"></li>-->
          <!--<li data-target="#slide_runing_pause" data-slide-to="1"></li>-->
          <!--<li data-target="#slide_runing_pause" data-slide-to="2"></li>-->
       <!--</ol>-->
       <!-- 轮播（Carousel）项目 -->
       <div class="carousel-inner">
            <?PHP $bool=false; $i=1;?>
            <foreach name="unfinished_task" key="k" item="task">
                <if condition="( $task['t_status'] eq STATUS_PAUSE )">
                <if condition="$bool eq false">
                  <if condition="$i eq 1">
                      <div class="item active">
                  <else />
                      <div class="item">
                  </if>
                </if>
                    <?PHP $bool=true;?>
                    <div class="col-md-4 task_pause_panel" tid="{$task.t_id}">
                        <div class="panel panel-{$task.t_level|show_level_color}" style="height: {:TASK_BLOCK_HEIGHT}px;overflow: hidden;">
                            <div class="panel-heading">
                                <h4>{$task.t_title|mb_substr=0,TASK_TITLE_LEN,'utf-8'}</h4>
                                <h5 style="display: inline;">{$task.t_level|show_level_tag} [{$task.t_status|show_status_text}]<small>创建时间: {$task.t_date|date="Y年m月d日",###}</small></h5>
                            </div>
                            <!--<div class="panel-body">{$task.t_content|strip_tags=###,'<br>'|mb_substr=0,TASK_CONTENT_LEN,'utf-8'}</div>-->
                            <div class="panel-body"></div>
                        </div>
                    </div>
                <if condition="($i % TASK_PAUSE_SLIDE_NUMBER ) eq 0">
                  <?PHP $bool=false; ?>
                  </div>
                </if>
                <?PHP $i++; ?>
                </if>
            </foreach>
           </div>
           <!-- 轮播（Carousel）导航 -->
           <a class="carousel-control left" href="#slide_runing_pause"
              data-slide="prev">&lsaquo;</a>
           <a class="carousel-control right" href="#slide_runing_pause"
              data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>

<div class="row">
    <div id="slide_waiting" class="carousel slide" data-interval="false">
       <!-- 轮播（Carousel）指标 -->
       <!--<ol class="carousel-indicators">-->
          <!--<li data-target="#slide_waiting" data-slide-to="0" class="active"></li>-->
          <!--<li data-target="#slide_waiting" data-slide-to="1"></li>-->
          <!--<li data-target="#slide_waiting" data-slide-to="2"></li>-->
       <!--</ol>-->
       <!-- 轮播（Carousel）项目 -->
       <div class="carousel-inner">
            <?PHP $bool=false; $i=1;?>
            <foreach name="unfinished_task" key="k" item="task">
                <if condition="$task['t_status'] eq STATUS_WAITING">
                <if condition="$bool eq false">
                  <if condition="$i eq 1">
                      <div class="item active">
                  <else />
                      <div class="item">
                  </if>
                </if>
                    <?PHP $bool=true;?>
                    <div class="col-md-4 task_waiting_panel" tid="{$task.t_id}">
                        <div class="panel panel-{$task.t_level|show_level_color}" style="height: {:TASK_BLOCK_HEIGHT}px;overflow: hidden;">
                            <div class="panel-heading">
                                <h4>{$task.t_title|mb_substr=0,TASK_TITLE_LEN,'utf-8'}</h4>
                                <h5 style="display: inline;">{$task.t_level|show_level_tag} [{$task.t_status|show_status_text}]<small>创建时间: {$task.t_date|date="Y年m月d日",###}</small></h5>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                <if condition="($i % TASK_WAITING_SLIDE_NUMBER) eq 0">
                  <?PHP $bool=false; ?>
                  </div>
                </if>
                <?PHP $i++; ?>
                </if>
            </foreach>
       </div>
       <!-- 轮播（Carousel）导航 -->
       <a class="carousel-control left" href="#slide_waiting"
          data-slide="prev">&lsaquo;</a>
       <a class="carousel-control right" href="#slide_waiting"
          data-slide="next">&rsaquo;</a>
       </div>
  </div>

<div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <button type="button" class="btn btn-default navbar-btn task_add_button">添加</button>
        <foreach name="unfinished_task_status_group" item="status">
            <button type="button" class="btn btn-default navbar-btn">{$status.t_status|show_status_text}<span class="badge">{$status.total}</span></button>
        </foreach>
      </div>
    </div>
</div>

<div class="row">
    <div id="slide_notstart_stop" class="carousel slide" data-interval="false">
       <!-- 轮播（Carousel）指标 -->
       <!--<ol class="carousel-indicators">-->
          <!--<li data-target="#slide_notstart_stop" data-slide-to="0" class="active"></li>-->
          <!--<li data-target="#slide_notstart_stop" data-slide-to="1"></li>-->
          <!--<li data-target="#slide_notstart_stop" data-slide-to="2"></li>-->
       <!--</ol>-->
       <!-- 轮播（Carousel）项目 -->
       <div class="carousel-inner">
            <?PHP $bool=false; $i=1;?>
            <foreach name="unfinished_task" key="k" item="task">
                <if condition="( $task['t_status'] neq STATUS_PAUSE ) and ( $task['t_status'] neq STATUS_RUNING ) and ( $task['t_status'] neq STATUS_WAITING )">
                <if condition="$bool eq false">
                  <if condition="$i eq 1">
                      <div class="item active">
                  <else />
                      <div class="item">
                  </if>
                </if>
                    <?PHP $bool=true;?>
                    <div class="col-md-4 task_notstart_panel" tid="{$task.t_id}">
                        <div class="panel panel-{$task.t_level|show_level_color}" style="height: {:TASK_BLOCK_HEIGHT}px;overflow: hidden;">
                            <div class="panel-heading">
                                <h4>{$task.t_title|mb_substr=0,TASK_TITLE_LEN,'utf-8'}</h4>
                                <h5 style="display: inline;">{$task.t_level|show_level_tag} [{$task.t_status|show_status_text}]<small>创建时间: {$task.t_date|date="Y年m月d日",###}</small></h5>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                <if condition="($i % TASK_NOTSTART_SLIDE_NUMBER) eq 0">
                  <?PHP $bool=false; ?>
                  </div>
                </if>
                <?PHP $i++; ?>
                </if>
            </foreach>
       </div>
       <!-- 轮播（Carousel）导航 -->
       <a class="carousel-control left" href="#slide_notstart_stop"
          data-slide="prev">&lsaquo;</a>
       <a class="carousel-control right" href="#slide_notstart_stop"
          data-slide="next">&rsaquo;</a>
       </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg task_runing_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content task_runing_modal_content">
      ...
    </div>
  </div>
</div>
