<div class="row">
    <div class="panel panel-default">
      <div class="panel-headin month_list_date" list_date="{$list_date}">
        <button class="btn btn-default" type="button" onClick="$.last_month_list();"><</button>
        <button class="btn btn-success" type="button" onclick="$.current_month_list();">{$list_date}月 任务列表</button>
        <button class="btn btn-default" type="button" onclick="$.next_month_list();">></button>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>序号</th>
                <th>时间</th>
                <th>进度条</th>
                <th>级别</th>
                <th>状态</th>
                <th>标题</th>
            </tr>
            <tbody>
            <foreach name="month_list" key="k" item="task">
            <tr class="month_list_item" tid="{$task.t_id}" status="{$task.t_status}">
                    <td>{$k + 1}</td>
                    <td class="col-md-2">{$task.t_date|date="Y年m月d日 h:i:s",###}</td>
                    <td class="col-md-2">
                        <if condition="$precent_arr[$task['t_id']]">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {$precent_arr[$task['t_id']]}%">
                                    {$precent_arr[$task['t_id']]}%
                                </div>
                            </div>
                        </if>
                    </td>
                    <td><h4 style="display: inline;">{$task.t_level|show_level_tag}</h4></td>
                    <td><span class="label label-{$task.t_status|show_status_color}" type="button">{$task.t_status|show_status_text}</span> </td>
                    <td>{$task.t_title}</td>
                </tr>
            </foreach>
            </tbody>
        </table>
      </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        $('.last-month').click(function(){
        });
    });

    $('.month_list_item').dblclick(function(){
        var tid = $(this).attr('tid');
        var status = $(this).attr('status');

        // 当状态为 暂停 时需要切换为运行.
        if(status == {:STATUS_PAUSE}){
            // 修改为运行状态
            $.change_to_status(tid,2);
        }
        var url = "/index.php/Home/Task/show?tid=" + tid;

        $('.task_runing_modal_content').load(url);
        $('.task_runing_modal').modal({
            backdrop: false,   // 点击背景不关闭 modal.
            show: true
        });
    });
</script>
