<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <TITLE> {$title} </TITLE>

    <!-- Bootstrap -->
    <link href="__PUBLIC__/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Task Css -->
    <link href="__PUBLIC__/css/common.css" rel="stylesheet">
    <link href="__PUBLIC__/css/task.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="__PUBLIC__/html5shiv/html5shiv.min.js"></script>
      <script src="__PUBLIC__/respond.js/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>
    <!-- Highcharts -->
    <script src="__PUBLIC__/highcharts/js/highcharts.js"></script>
  </head>
  <body>
    <include file="nav" />
    <include file="content" />

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="__PUBLIC__/bootstrap/dist/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Kindeditor Edit -->
    <script src="__PUBLIC__/kindeditor/kindeditor.js"></script>
    <script src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
    <!-- Public JS -->
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/task-charts.js"></script>
  </body>
</html>
