  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">任务调度器</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul id="myTabs" class="nav navbar-nav" role="tablist">
        <li class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">主页</a></li>
        <li><a href="#overview" role="tab" id="overview-tab" data-toggle="tab" aria-controls="overview">概览</a></li>
        <li><a href="#help" role="tab" id="help-tab" data-toggle="tab" aria-controls="help">帮助(F1)</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
