<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" class="close add_task_close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          <div class="panel-body panel-default">
              <label class="control-label"><h3>创建新任务</h3></label>
              <button type="button" class="btn btn-success btn_task_create" style="float: right;">创建</button>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">标题:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="任名称" name="title" value="{$templet_task['t_title']}">
            </div>
          </div>
          <div class="form-group">
            <label for="select" class="col-sm-2 control-label">任务级别：</label>
            <div class="col-sm-10">
                <select name="level" class="form-control col-md-1">
                    <if condition="$templet_task['t_level'] eq 1">
                        <option value="1" selected="selected">★</option>
                    <else/>
                    <option value="1">★</option>
                    </if>
                    <if condition="$templet_task['t_level'] eq 2">
                        <option value="2" selected="selected">★★</option>
                        <else/>
                        <option value="2">★★</option>
                    </if>
                    <if condition="$templet_task['t_level'] eq 3">
                        <option value="3" selected="selected">★★★</option>
                        <else/>
                        <option value="3">★★★</option>
                    </if>
                    <if condition="$templet_task['t_level'] eq 4">
                        <option value="4" selected="selected">★★★★</option>
                        <else/>
                        <option value="4">★★★★</option>
                    </if>
                    <if condition="$templet_task['t_level'] eq 5">
                        <option value="5" selected="selected">★★★★★</option>
                        <else/>
                        <option value="5">★★★★★</option>
                    </if>
                </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputText" class="col-sm-2 control-label">预计开始时间:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control start_datetime" name="exp_startdate">
            </div>
          </div>
          <div class="form-group">
            <label for="inputText" class="col-sm-2 control-label">预计结束时间:</label>
            <div class="col-sm-10">
              <input type="datetime" class="form-control end_datetime" name="exp_enddate">
            </div>
          </div>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
              <div class="form-group">
                  <textarea name="content" style="width:100%;" value="{$templet_task['t_content']}"></textarea><BR/>
              </div>
            </div>
        </div>
    </div>
</form>

<script>
    var editor;
    var picker;
    var in_edit = false;
    var kindeditor_options = {
            uploadJson : '/index.php/Home/Attached/upload/date/{:date("Y-m-d")}',
            fileManagerJson : '/index.php/Home/Attached/manager/',
            allowFileManager : false,
            readonlyMode : false,
            //autoHeightMode : true,
            //afterCreate : function() {
            //    this.loadPlugin('autoheight');
            //},
            items : [
                            'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                            'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                            'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                            'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                            'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                            'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
                            'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'map', 'pagebreak',
                            'anchor', 'link', 'unlink', 'FinishTab','|', 'about'
                ],
        afterChange : function() {
            // alert(in_edit);
            //in_edit = true;
        }
    };

    $(document).ready(function(){
        $('textarea[name="content"]').css('height',(0.75*document.body.clientHeight));

        $('.btn_task_create').click(function(){
            var send_data = editor.html();
            var title = $('input[name="title"]').val();
            var exp_startdate = $('input[name="exp_startdate"]').val();
            var exp_enddate = $('input[name="exp_enddate"]').val();
            var level = $('select[name="level"]').val();

            $.ajax({
              type: 'POST',
              url: '/index.php/Home/Task/add_handle',
              data: { title: title, level: level, exp_startdate: exp_startdate, exp_enddate: exp_enddate, content: send_data },
              success: function(){
                  $('.add_task_close').trigger("click");
                  window.location.reload();
              }
            });
        });

        $('.add_task_close').click(function(){
            // 移除动态加载的 KindEditor
            KindEditor.remove('textarea[name="content"]');
            $('.commont_modal').modal('hide');
        });
    });
</script>
