<div class="panel panel-{$task.t_level|show_level_color} runing_task_id" tid="{$task.t_id}">
    <div class="panel-heading" style="cursor: pointer;text-align: center;">
        <button type="button" class="close runing_task_close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3><span class="runing_task_title">{$task.t_title|mb_substr=0,TASK_TITLE_LEN,'utf-8'}</span></h3>
        <h4 style="display: inline;"><span class="label runing_task_level" style="cursor: pointer;">{$task.t_level|show_level_tag}</span> &nbsp;
            <!-- Single button -->
            <div class="btn-group">
                <span class="label label-{$task.t_status|show_status_color} dropdown-toggle runing_task_status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" status="{$task.t_status}" style="cursor: pointer;">{$task.t_status|show_status_text}</span>
              <ul class="dropdown-menu">
                  <if condition="$task['t_status'] gt 5">
                      {:show_status_start()}
                  <else/>
                      {:show_status_list()}
                  </if>
              </ul>
            </div>
            <small><a class="btn btn-default btn_show_process" href="#" role="button">查看处理时间</a></small>
            &nbsp;<small>预计开始时间: {$task.t_date|date="Y年m月d日 h:i:s",###}</small>
            &nbsp;<small>预计用时: {$task.t_exp_time|show_time}</small>
            </h5>
        <div class="runing_task_process" style="display: none;">{$task.t_process|show_process}</div>
        <div class="runing_task_progress">{$task.t_process|show_progress}</div>
        <button type="button" class="btn btn-warningr btn_task_delete" style="float: right;">删除</button>
        &nbsp;
        &nbsp;
        <button type="button" class="btn btn-success btn_task_save" style="float: right;">保存</button>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
          <textarea name="content" style="width:100%;">{$task['t_content']}</textarea><BR/>
        </div>
    </div>
</div>

<script>
    var editor;
    var in_edit = false;
    var kindeditor_options = {
            uploadJson : '/myt/index.php/Attached/upload/date/{$task['t_date']|date="Y-m-d",###}',
            fileManagerJson : '/myt/index.php/Attached/manager/',
            allowFileManager : false,
            readonlyMode : true,
            //autoHeightMode : true,
            //afterCreate : function() {
            //    this.loadPlugin('autoheight');
            //},
            items : [
                            'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                            'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                            'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                            'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                            'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                            'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
                            'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'map', 'pagebreak',
                            'anchor', 'link', 'unlink', 'FinishTab','|', 'about'
                ],
        afterChange : function() {
            // alert(in_edit);
            //in_edit = true;
        }
    };

    $(document).ready(function(){
        $('textarea[name="content"]').css('height',(0.75*document.body.clientHeight));

        // 开启 Kindeditor 编辑模式。
        $('.panel-body').click(function(){
            editor.readonly(false);
            in_edit = true;
        });

        $('.panel-heading').click(function(){
        });

        $('.btn_task_save').click(function(){
            $.task_save($('.runing_task_id').attr('tid'));
        });

        $('.btn_task_delete').click(function(){
            if(confirm("确定要删除任务？")){
                $.task_delete($('.runing_task_id').attr('tid'));
            }
        });

        $.extend({to_status:function(status){
            var tid = $('.runing_task_id').attr('tid');
            $.change_to_status(tid,status);

            // 移除动态加载的 KindEditor
            KindEditor.remove('textarea[name="content"]');
            $('.task_runing_modal').modal('hide');
            window.location.reload();
        }});

        $('.runing_task_level').click(function(){
            var tid = $('.runing_task_id').attr('tid');

            // 修改任务等级
            $.up_level(tid);
        });

        $('.runing_task_title').dblclick(function(){
            var title = $('.runing_task_title').text();

            $('.runing_task_title').html('<input type="text" class="form-control col-md-1" name="title">');
            $('input[name="title"]').val("").focus().val(title);

            $('input[name="title"]').blur(function(){
                var tid = $('.runing_task_id').attr('tid');
                var new_title = $('input[name="title"]').val();

                $('.runing_task_title').html('<span class="panel runing_task_title" style="cursor: pointer;">' + new_title + '</span>');
                // 修改任务标题
                $.up_title(tid,new_title);
            });
        });

        // 更新 运行过程 和 进度条
        var auto_update = setInterval(function(){
                var tid = $('.runing_task_id').attr('tid');
                var progress_url = "{:U('Task/auto_update_runing_progress')}";
                var process_url = "{:U('Task/auto_update_runing_process')}";
                $('.runing_task_process').load(process_url,{ tid: tid },$('.runing_task_progress').load(progress_url,{ tid: tid }));
        }, 60000);

        $('.btn_show_process').click(function(){
            $('.runing_task_process').slideToggle();
        });


        $('.runing_task_close').click(function(){
            var tid = $('.runing_task_id').attr('tid');
            var status = $('.runing_task_status').attr('status');

            // 当状态不是己完成,放弃,重新开始 时需要切换为暂停.
            if(status < 6){
                // 修改为暂停状态
                $.change_to_status(tid,3);
            }

            <if condition="(TASK_CACHE eq 'yes') or (TASK_CACHE eq 'YES')">
                // 关闭按钮时保存缓存功能.
                if(in_edit) {
                    $.task_close_save(tid);
                }
            </if>

            // 移除动态加载的 KindEditor
            KindEditor.remove('textarea[name="content"]');
            $('.task_runing_modal').modal('hide');
            window.location.reload();
        });
    });
</script>
