<div class="panel panel-{$task.t_level|show_level_color}">
    <div class="panel-heading">
        <h2>{$task.t_title|mb_substr=0,TASK_PROCESS_TITLE_LEN,'utf-8'}</h2>
        <h3 style="display: inline;">{$task.t_level|show_level_tag} <small>创建时间: {$task.t_date|date="Y年m月d日",###}</small></h3>
        <button type="button" class="btn btn-info btn-unedit" style="float: right;">取消</button>
        <button type="button" class="btn btn-danger btn-edit" style="float: right;">编辑</button>
    </div>
    <div class="panel-body">
      <textarea name="content" style="width:100%;height:420px;">{$task['t_content']}</textarea><BR/>
    </div>
</div>

<script>
    var editor;
    var is_change = false;
    var kindeditor_options = {
            uploadJson : '/myt/index.php/Attached/upload/date/{$task['t_date']|date="Y-m-d",###}',
            fileManagerJson : '/myt/index.php/Attached/manager/',
            allowFileManager : false,
            readonlyMode : true,
            items : [
                            'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                            'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                            'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                            'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                            'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                            'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
                            'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'map', 'pagebreak',
                            'anchor', 'link', 'unlink', 'FinishTab','|', 'about'
                ],
        afterChange : function() {
            // alert(is_change);
            is_change = true;
        }

    };

    // 开启 Kindeditor 编辑模式。
    $('.btn-edit').click(function(){
        editor.readonly(false);
    });

    // 取消 Kindeditor 编辑模式。
    $('.btn-unedit').click(function(){
        editor.readonly(true);
    });
</script>
